@model Invoice
<div class="container">
    <h4>Thông tin đơn đặt hàng:</h4>

    <table class="table table-bordered my-4">
        <thead>
            <tr>
                <th>Tài khoản mua hàng: </th>
                <td>@Model.Member.Username</td>
            </tr>
            <tr>
                <th>Người nhận hàng: </th>
                <td>@Model.Contact.FullName</td>
            </tr>
            <tr>
                <th>Số điện thoại: </th>
                <td>@Model.Contact.PhoneNumber</td>
            </tr>
            <tr>
                <th>Địa chỉ: </th>
                <td>@(Model.Contact.AddressHome +", " + Model.Contact.WardName+ ", " + Model.Contact.DistrictName+ ", " + Model.Contact.ProvinceName)</td>
            </tr>
            <tr>
                <th>Tình trạng đơn hàng: </th>
                <td>
                    @((InvoiceStatus)Model.StatusId)
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateInvoiceStatus">Cập nhật tình trạng đơn hàng</button>

                </td>
            </tr>
        </thead>
    </table>
    <partial name="_InvoiceDetail" model="@Model" />    
    <div class="modal" id="updateInvoiceStatus">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật tình trạng đơn hàng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form name="updateInvoiceStatus">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <select id="statusOptions">
                            @foreach (var item in Enum.GetValues(typeof(InvoiceStatus)))
                            {
                                if ((int)item == Model.StatusId)
                                {
                                    <option value="@((int)item)" selected>@item</option>
                                }
                                else
                                {
                                    <option value="@((int)item)">@item</option>
                                }
                            }
                        </select>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $(updateInvoiceStatus).submit(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            console.log("abc");
            var statusId = $(statusOptions).val();
            var invoiceId = "@Model.InvoiceId";
            $.post('/dashboard/invoice/updatestatus', { 'InvoiceId': invoiceId, 'StatusId': statusId }, result => {
                location.reload();
            });
        });
    </script>
}