@model Product
<div class="container">
    <div class="row">
        <div class="col-6">
            <partial name="_Carousel" model="@Model" />
            @*<img src="/images/@Model.ProductImages[0].ImageUrl" alt="@Model.ProductName" class="img-fluid" id="main-image" />*@
        </div>
        <div class="col-6">
            <b>@Model.ProductName</b>
            <p>Mã: @Model.Sku</p>
            @{
                if (Model.PriceSaleOff == 0)
                {
                    <p>Giá: <b>@Model.Price</b></p>
                }
                else
                {
                    <p>Giá: <del>@Model.Price</del> <b>@Model.PriceSaleOff</b> </p>
                }
            }
            <p>Chất liệu: @Model.Material</p>
            <p>Mô tả: @Model.Description</p>
            <div>
                Màu sắc:
                @foreach (Color item in Model.ProductColor)
                {
                    <img src="/images/icon/@item.IconUrl" alt="@item.ColorCode" class="img-fluid img-thumbnail color-images" />
                }
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $('.carousel').carousel();
        $('.scroll-images').click(function () {
            var url = $(this).attr("src");
            $('#main-image').attr('src', url);
        });

        $('.color-images').click(function () {
            var colorCode = $(this).attr('alt');
            console.log(colorCode);
            var listImages = document.getElementsByClassName('scroll-images');
            $('.carousel-item.active').removeClass('active');
            for (var i = 0; i < listImages.length; i++) {
                if ($(listImages[i]).attr('src').includes(colorCode.toLowerCase().trim())) {
                    $(listImages[i].parentNode).addClass('active');
                    break;
                }
            }
        });
    </script>
}
<style>
    .color-images {
        cursor: pointer;
    }
</style>