@model IEnumerable<Product>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <a href="/home/detail/@item.ProductId">
                    <img src=@(item.ProductImages.Count == 0 ? "#" : $"/images/{item.ProductImages[0].ImageUrl}") alt="@item.ProductName" class="img-fluid" />
                    <p>@item.ProductName</p>
                </a>
                @{
                    if (item.PriceSaleOff == 0)
                    {
                        <p>Price: <b>@item.Price</b></p>
                    }
                    else
                    {
                        <p>Price: <del>@item.Price</del> <b>@item.PriceSaleOff</b> </p>
                    }
                }

            </div>
        }
    </div>
</div>