@model IEnumerable<Member>
    <div class="d-flex">
        <hr class="w-25 my-4 mx-auto" />
    </div>
    <div class="container">
        <h3 class="text-center">QUẢN LÝ THÀNH VIÊN</h3>

        <input type="text" name="searchMember" class="form-control w-25 float-right my-3" placeholder="Tìm kiếm tài khoản"/>
        <div class="clearfix"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Loại thành viên</th>
                    <th>Tên tài khoản</th>
                    <th>Ngày gia nhập</th>
                    <th>Email</th>
                    <th>Trạng thái tài khoản</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="memberList">
                @foreach (Member item in Model)
                {
                    <tr>
                        <td>
                            @foreach (var role in item.Roles)
                            {
                                if (role.Checked)
                                {
                                    <span>@role.RoleName</span><br />
                                }
                            }
                        </td>
                        <td>@item.Username</td>
                        <td>@item.JoinDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Email</td>
                        <td>@(item.IsBanned ? "Đã bị khóa" : "Đang hoạt động")</td>
                        <td><a href="/dashboard/member/detail/@item.MemberId">Chi tiết</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="d-flex">
        <hr class="w-25 my-4 mx-auto" />
    </div>
    @section script{
        <script>
            var bodyTableElement = $('#memberList');
            $('input[name="searchMember"]').keyup(function () {
                var searchQuery = $(this).val();
                $.post('/manage/member/search', { 'query': searchQuery }, result => {
                    console.log(result);
                    bodyTableElement.html(null);
                    var content = "";
                    for (var i in result) {
                        content += "<tr><td>";
                        for (var j in result[i].roles) {
                            if (result[i].roles[j].checked) {
                                content += `<span>${result[i].roles[j].roleName}</span><br />`;
                            }
                        }
                        content += "</td>";
                        content += `<td>${result[i].username}</td>`;
                        content += `<td>${convertDate(result[i].joinDate)}</td>`;
                        content += `<td>${result[i].email}</td>`;
                        content += `<td>${result[i].isBanned ? 'Đã bị khóa' : 'Đang hoạt động'}</td>`;
                        content += `<td><a href="/manage/member/detail/${result[i].memberId}">Chi tiết</a></td>`;
                        content += '</tr>';

                    }
                    bodyTableElement.append(content);
                });

            });
            function convertDate(originDate) {
                originDate = new Date(originDate);
                var date = originDate.getDate();
                var month = originDate.getMonth();
                if (month < 10) {
                    month = "0" + month;
                }
                var year = originDate.getFullYear();
                return `${date}/${month}/${year}`;
            }
        </script>
    }
