@model CartViewModel
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Mã màu</th>
            <th>Size</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <td>Thành tiền</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartDetail)
        {
            Model.Total += item.Quantity * item.Price;
            <tr>
                <td class="ProductId" name="@item.ProductId">@item.ProductName</td>
                <td class="ColorId" name="@item.ColorId">@item.ColorCode</td>
                <td class="SizeId" name="@item.SizeId">@item.SizeCode</td>
                <td>@SiteHelper.FormatCurrencyString(item.Price)</td>
                <td><input type="number" id="quantityInCart" name="Quantity" value="@item.Quantity" min="1" max="@item.AvailableQuantity" /></td>
                <td class="Amount">@(SiteHelper.FormatCurrencyString(item.Quantity * item.Price))</td>
                <td><a class="DeleteCart"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" class="text-right">Tổng tiền hàng</th>
            <td id="totalProductCost" colspan="2">@SiteHelper.FormatCurrencyString(Model.Total)</td>
        </tr>
        <tr>
            <th colspan="5" class="text-right">Phí vận chuyển</th>
            <td id="shipCost" colspan="2">
                @(SiteHelper.FormatCurrencyString(Model.Total >= 500000 ? 0 : 50000))
            </td>
        </tr>
        <tr>
            <th colspan="5" class="text-right">Tổng thành tiền</th>
            <td id="totalCost" colspan="2"></td>
        </tr>
    </tfoot>
</table>