@model Product
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}
<div class="d-flex">
    <hr class="w-25 mb-4 mx-auto" />
</div>
<div class="row products-page mt-5">
    <div class="col-3">
        <partial name="_Category" model="@ViewBag.categories" />
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-6">
                <partial name="_Carousel" model="@Model" />
            </div>
            <div class="col-6">
                <h3>@Model.ProductName</h3>
                <p>Mã: @Model.Sku</p>
                <partial name="_Price" model="@Model" />               
                <p>Chất liệu: @Model.Material</p>
                <p>Mô tả: @Model.Description</p>
                <form method="post" name="frm" action="/cart/addcart" class="form-group">
                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                    <div class="my-2">
                        Chọn màu sắc:
                        @for (int i = 0; i < Model.Colors.Count; i++)
                        {
                            <span class="image-radio">
                                @if (i == 0)
                                {
                                    <input type="radio" name="ColorId" class="ColorId" value="@Model.Colors[i].ColorId" checked="checked" />
                                }
                                else
                                {
                                    <input type="radio" name="ColorId" class="ColorId" value="@Model.Colors[i].ColorId" />
                                }
                                @if (Model.Colors[i].IconUrl is null)
                                {
                                    <span class="img-fluid img-thumbnail color-images">@Model.Colors[i].ColorCode</span>
                                }
                                else
                                {
                                    <img src="/images/icon/@Model.Colors[i].IconUrl" alt="@Model.Colors[i].ColorCode" class="img-fluid img-thumbnail color-images" width="31"/>
                                }

                            </span>
                        }
                    </div>
                    <div class="my-2">
                        <label for="SizeId">Chọn kích cỡ:</label>
                        <select id="SizeId" name="SizeId" class="form-control-sm w-25">
                            @foreach (Size item in Model.Sizes)
                            {
                                <option value="@item.SizeId">@item.SizeCode</option>
                            }
                        </select>
                    </div>
                    <div class="my-2">
                        Số lượng tồn kho: <b id="InventoryStatusQuantity"></b>
                    </div>
                    <div id="cartQuantity my-2">
                        <label for="Quantity">Chọn số lượng: </label>
                        <input type="number" name="Quantity" value="1" id="Quantity" min="1" class="form-control-sm w-25" />
                    </div>
                    <div>
                        <button class="confirmCart btn btn-primary my-2">Thêm vào giỏ hàng</button>
                    </div>
                </form>
                <div>
                    Thuộc danh mục:
                    @foreach (var item in Model.Categories)
                    {
                        <a href="/product/category/@item.CategoryId">@item.CategoryName</a>
                    }
                </div>
                <div class="guideOfProduct my-3">
                    <b>Hướng dẫn sử dụng:</b>
                    <ul>
                        @foreach (var item in Model.Guides)
                        {
                            <li>  @item.GuideDescription.Trim()</li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <h4 class="text-center">Các sản phẩm liên quan</h4>
</div>
<div class="container text-center my-3">
    <div id="productsRelationArea" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active row">
                @for (int i = 0; i < (Model.ProductsRelation.Count >= 6 ? 6 : Model.ProductsRelation.Count); i++)
                {
                    <partial name="_ProductsRelation" model="@Model.ProductsRelation[i]" />                  
                }
            </div>
            <div class="carousel-item row">
                @if (Model.ProductsRelation.Count > 6)
                {
                    @for (int i = 6; i < Model.ProductsRelation.Count; i++)
                    {
                        <partial name="_ProductsRelation" model="@Model.ProductsRelation[i]" />
                    }
                }

            </div>
        </div>
        <a class="carousel-control-prev2" href="#productsRelationArea" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next2" href="#productsRelationArea" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@section script{
    <script>
        $('.carousel').carousel({
            /*interval: false*/
        });
        $('#productsRelationArea').carousel();

        $(".image-radio .color-images").click(function () {
            $('input[name="ColorId"]:checked').removeAttr('checked')
            $(this).prev().click();
            $(this).prev().attr('checked', true);
            var colorCode = $(this).attr('alt');
            var listImages = $('#main-images .scroll-images');
            $('#main-images .carousel-item.active').removeClass('active');
            for (var i = 0; i < listImages.length; i++) {
                if ($(listImages[i]).attr('src').includes(colorCode.toLowerCase().trim())) {
                    $(listImages[i].parentNode).addClass('active');
                    break;
                }
            }
        });
        function updateInventoryStatus() {
            var p = @Model.ProductId;
            var c = $('input[name="ColorId"]:checked').val();
            var s = $(SizeId).val();
            var target = $(InventoryStatusQuantity);
            target.empty();
            $.post('/product/getinventoryquantity', { productId: p, sizeId: s, colorId: c }, (result) => {
                if (result > 0) {
                    target.append(result + " sản phẩm");
                    $('input#Quantity').attr('max', result);
                    $('input#Quantity').prop("disabled", false);
                    $('button.confirmCart').prop("disabled", false);
                } else {
                    target.append("<span style=\"color:red\">Hết hàng</span>");
                    $('input#Quantity').prop("disabled", true);
                    $('button.confirmCart').prop("disabled", true);
                }
            });
        }
        $(frm).change(function () {
            updateInventoryStatus();
        });
        updateInventoryStatus();
    </script>
}
