@model Product
<div class="container">
    <h3 class="text-center mb-4">CHI TIẾT SẢN PHẨM</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#productdetail" role="tab" aria-controls="productdetail" aria-selected="true">THÔNG TIN SẢN PHẨM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#quantityInInventory" role="tab" aria-controls="quantityInInventory" aria-selected="false">SỐ LƯỢNG TỒN KHO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">HÌNH ẢNH SẢN PHẨM</a>
        </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="productdetail" role="tabpanel" aria-labelledby="productdetail-tab">
            <H4 class="text-center">THÔNG TIN SẢN PHẨM</H4>
            <table class="table table-bordered">
                <tr>
                    <th>Mã sản phẩm</th>
                    <td>@Model.ProductId</td>
                </tr>
                <tr>
                    <th>Tên sản phẩm</th>
                    <td>@Model.ProductName</td>

                </tr>
                <tr>
                    <th>Sku</th>
                    <td>@Model.Sku</td>
                </tr>
                <tr>
                    <th>Các size đang có</th>
                    <td>@string.Join(", ", Model.Sizes.Select(p => p.SizeCode))</td>
                </tr>
                <tr>
                    <th>Các màu hiện có</th>
                    <td>@string.Join(", ", Model.Colors.Select(p => p.ColorCode))</td>
                </tr>
                <tr>
                    <th>Giá bán gốc</th>
                    <td>@SiteHelper.FormatCurrencyString(Model.Price)</td>
                </tr>
                <tr>
                    <th>Giá khuyến mãi</th>
                    <td>@(Model.PriceSaleOff is null ? "" : SiteHelper.FormatCurrencyString(Model.PriceSaleOff.Value))</td>
                </tr>
                <tr>
                    <th>Chất liệu</th>
                    <td>@Model.Material</td>
                </tr>
                <tr>
                    <th>Mô tả</th>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <th>Thuộc danh mục</th>
                    <td>
                        @string.Join(", ", Model.Categories.Select(p => p.CategoryName))
                    </td>
                </tr>
                <tr>
                    <th>Hướng dẫn sử dụng</th>
                    <td>
                        <ul class="ml-4">
                            @foreach (var item in Model.Guides)
                            {
                                <li>@item.GuideDescription</li>
                            }
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="d-flex">
                <a href="/dashboard/product/edit/@Model.ProductId" class="btn btn-primary ml-auto mr-3">Cập nhật thông tin</a>
                <a href="/dashboard/product/delete/@Model.ProductId" class="btn btn-danger mr-auto ml-3" id="DeleteProduct">Xóa sản phẩm</a>
            </div>
        </div>
        <div class="tab-pane fade" id="quantityInInventory" role="tabpanel" aria-labelledby="quantityInInventory-tab">
            <h4 class="text-center">SỐ LƯỢNG TỒN KHO</h4>
            <table class="table table-bordered text-center ">
                <thead>
                    <tr>
                        <th>Màu sắc</th>
                        <th>Size</th>
                        <th>Tồn kho</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Colors.Count; i++)
                    {
                        @for (int j = 0; j < Model.Sizes.Count; j++)
                        {
                            <tr>
                                @{
                                    if (j == 0)
                                    {
                                        <td class="align-middle" rowspan="@Model.Sizes.Count" data="@Model.Colors[i].ColorId">@Model.Colors[i].ColorCode</td>
                                    }
                                }
                                <td data="@Model.Sizes[j].SizeId">@Model.Sizes[j].SizeCode</td>
                                <td class="quantity"></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div class="d-flex">
                <a href="/dashboard/product/updateQuantity/@Model.ProductId" class="btn btn-primary mx-auto">Cập nhật số lượng tồn kho</a>
            </div>
        </div>
        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
            <h4 class="text-center my-3">HÌNH ẢNH SẢN PHẨM</h4>
            <div class="row" id="productImages">
                @foreach (var item in Model.Images)
                {
                    <div class="col-md-3 my-3 ">
                        <img src="/images/@item.ImageUrl" alt="@Model.ProductName" class="img-fluid" />
                        <form action="/dashboard/product/deleteImage" method="post" class="formDeleteImage">
                            <input type="hidden" name="colorId" value="@item.ColorId" />
                            <input type="hidden" name="imageUrl" value="@item.ImageUrl" />
                            <div class="d-flex">
                                <button class="btn btn-sm btn-danger mx-auto mt-2 DeleteImage">Xóa hình ảnh</button>
                            </div>
                        </form>
                    </div>
                }

            </div>
            <div class="d-flex mt-5">
                <!-- Button to Open the Modal -->
                <button class="btn btn-outline-info mx-auto" data-toggle="modal" data-target="#uploadImageModal">Thêm hình ảnh</button>
                <!-- The Modal -->
                <div class="modal" id="uploadImageModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Thêm hình ảnh</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <form class="form-group" name="formUploadImage" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row">
                                        <label for="colorId" class="col-4 text-right mt-1">Chọn mã màu: </label>
                                        <select name="colorId" class="form-control w-25 col-6">
                                            @foreach (var item in Model.Colors)
                                            {
                                                <option value="@item.ColorId">@item.ColorCode</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="row mt-3">
                                        <label class="col-4 text-right"> Chọn file upload: </label>
                                        <input type="file" name="imageUpload" class="form-control-file col-6" accept="image/png, image/jpeg" required />
                                    </div>

                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button class="btn btn-primary">Thêm hình ảnh</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        function updateQuantity(id, s, c, currentNode) {
            $.post('/product/getinventoryquantity', { 'productId': id, 'sizeId': s, 'colorId': c }, result => {
                console.log(result);
                $(currentNode).append(result);
            });
        }
        var quantityNodes = document.getElementsByClassName('quantity');
        var currentColor = "";
        var id = @Model.ProductId;       
        for (var node of quantityNodes) {
            var siblingNodes = $(node).prevAll();
            var size = $(siblingNodes[0]).attr('data');
            var color = "";
            if (siblingNodes[1] != null) {
                color = $(siblingNodes[1]).attr('data');
                currentColor = $(siblingNodes[1]).attr('data');
            } else {
                color = currentColor;
            }
            updateQuantity(id, size, color, node);
        }
        $(document).on('submit', 'form[name="formUploadImage"]', function (e) {
            e.preventDefault();
            var data = {
                'ProductId': @Model.ProductId,
                'ColorId': $('select[name="colorId"]').val(),
                'Sku': '@Model.Sku'
            }
            var formData = new FormData();
            formData.append('data', JSON.stringify(data));
            formData.append('image', formUploadImage['imageUpload'].files[0]);

            $.ajax({
                url: '/dashboard/product/imageupload',
                method: 'post',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: result => {                    
                    location.href = `/dashboard/product/detail/${@Model.ProductId}#images`;
                    location.reload();
                }
            });
        });
        /*Dashboard Product Detail*/
        $(document).on('submit', '#formUpdateProductName', function (e) {
            e.preventDefault();
            console.log('abc');
            var newProductName = $('input[name="ProductName"]').val();
            var productId = 1;
            $.post('/dashboard/product/UpdateProductName', { 'ProductId': productId, 'ProductName': newProductName }, result => {
                //location.reload();
                $('#notificationUpdateName').append('Đã cập nhật thành công!');
            });
        });
        $(document).on('click', '#DeleteProduct', function () {
            return confirm("Bạn có chắc muốn xóa sản phẩm này");
        });

        //code for open specific tab base on url
        var hash = location.hash;
        if (hash) {
            $(`.nav-tabs a[href="${hash}"]`).tab('show');
        }
        $(document).on('click', 'button.DeleteImage', function () {
            return confirm("Bạn có chắc muốn xóa hình ảnh này?");
        });

        $(document).on('submit', '.formDeleteImage', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            var productId = @Model.ProductId;
            var colorId = $(this).find('input[name="colorId"]').val();
            var imageUrl = $(this).find('input[name="imageUrl"]').val();
            $.post("/dashboard/product/deleteImage", {
                'productId':@Model.ProductId,
                'colorId': colorId,
                'imageUrl' : imageUrl
            }, result => {                
                location.href = `/dashboard/product/detail/${@Model.ProductId}#images`;
                location.reload();
            });
        });
    </script>
}
