@model Product
@{
    ViewBag.Title = "Chỉnh sửa thông tin sản phẩm";
}
<div class="container">
    <h3 class="text-center mb-4">CHỈNH SỬA THÔNG TIN SẢN PHẨM</h3>
    <form method="post" class="form-group">
        <input type="hidden" asp-for="ProductId" class="form-control" />
        <partial name="_InputProduct" model="@Model" />
        <div id="selectOptions">
            <div class="form-group">
                <button type="button" data-toggle="collapse" data-target="#chooseColor" class="btn btn-info">Chọn màu sắc </button>
                <div id="chooseColor" class="collapse" data-parent="#selectOptions">
                    <div class="row my-3">
                        @foreach (var item in ViewBag.colors)
                        {
                            <div class="col-2">
                                @if (Model.Colors.Any(p => p.ColorId == item.ColorId))
                                {

                                    <label>
                                        <input type="checkbox" name="listColor" value="@item.ColorId" checked />
                                        @item.ColorCode
                                    </label>

                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="listColor" value="@item.ColorId" />
                                        @item.ColorCode
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" data-toggle="collapse" data-target="#chooseSize" class="btn btn-info">Chọn kích cỡ </button>
                <div id="chooseSize" class="collapse" data-parent="#selectOptions">
                    <div class="row my-3">
                        @foreach (var item in ViewBag.sizes)
                        {
                            <div class="col-1">
                                @if (Model.Sizes.Any(p => p.SizeId == item.SizeId))
                                {

                                    <label>
                                        <input type="checkbox" name="listSize" value="@item.SizeId" checked />
                                        @item.SizeCode
                                    </label>

                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="listSize" value="@item.SizeId" />
                                        @item.SizeCode
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" data-toggle="collapse" data-target="#chooseGuide" class="btn btn-info">Chọn hướng dẫn sử dụng </button>
                <div id="chooseGuide" class="collapse" data-parent="#selectOptions">
                    <div class="row my-3">
                        @foreach (var item in ViewBag.guides)
                        {
                            <div class="col-6">
                                @if (Model.Guides.Any(p => p.GuideId == item.GuideId))
                                {

                                    <label>
                                        <input type="checkbox" name="listGuide" value="@item.GuideId" checked />
                                        @item.GuideDescription
                                    </label>

                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="listGuide" value="@item.GuideId" />
                                        @item.GuideDescription
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" data-toggle="collapse" data-target="#chooseCategory" class="btn btn-info">Chọn danh mục </button>
                <div id="chooseCategory" class="collapse" data-parent="#selectOptions">
                    <div class="row my-3">
                        @foreach (var item in ViewBag.categories)
                        {
                            <div class="col-2">
                                @if (Model.Categories.Any(p => p.CategoryId == item.CategoryId))
                                {

                                    <label>
                                        <input type="checkbox" name="listCategory" value="@item.CategoryId" checked />
                                        @item.CategoryName
                                    </label>

                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="listCategory" value="@item.CategoryId" />
                                        @item.CategoryName
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-5">
            <button class="btn btn-primary ml-auto mr-2">Lưu</button>
            <a href="/dashboard/product/detail/@Model.ProductId" class="btn btn-secondary mr-auto ml-2">Hủy bỏ</a>
        </div>
    </form>

</div>