@model IEnumerable<Product>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Sku</th>
                <th>Giá gốc</th>
                <th>Giá giảm</th>
                <th>Size</th>
                <th>Màu</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Sku</td>
                    <td>@item.Price</td>
                    <td>@item.PriceSaleOff</td>
                    <td>
                        @string.Join(", ", item.Sizes.Select(p => p.SizeCode))                        
                    </td>
                    <td>@string.Join(", ", item.Colors.Select(p=>p.ColorCode))</td>
                    <td><a href="/dashboard/product/detail/@item.ProductId">Chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex">
        <pagination total-page="@ViewBag.totalPage" current-page="@ViewContext.RouteData.Values["id"]" url="/dashboard/product/index/{0}"></pagination>
    </div>
</div>