@model IEnumerable<Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
}
<div class="container">
    <h3 class="text-center">QUẢN LÝ SẢN PHẨM</h3>
    <div class="my-3">
        <a href="/dashboard/product/add" class="btn btn-info">Thêm sản phẩm mới</a>
        @TempData["msg"]
    </div>
    <table class="table table-bordered" id="productTable">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Sku</th>
                <th>Giá gốc</th>
                <th>Giá giảm</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Sku</td>
                    <td>@SiteHelper.FormatCurrencyString(item.Price)</td>
                    <td>@(item.PriceSaleOff is null ? "" :SiteHelper.FormatCurrencyString(item.PriceSaleOff.Value))</td>
                    <td><a href="/dashboard/product/detail/@item.ProductId">Chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section script{
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
        });
    </script>
}