@model IEnumerable<Product>
<div class="container">
    <h3 class="text-center">QUẢN LÝ SẢN PHẨM</h3>
    <div class="my-3">
        <a href="/dashboard/product/add" class="btn btn-primary">Thêm sản phẩm mới</a>
        @TempData["msg"]
    </div>
    <table class="table table-bordered" id="productTable">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Sku</th>
                <th>Giá gốc</th>
                <th>Giá giảm</th>
                <th>Size</th>
                <th>Màu</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Sku</td>
                    <td>@item.Price</td>
                    <td>@item.PriceSaleOff</td>
                    <td>
                        @string.Join(", ", item.Sizes.Select(p => p.SizeCode))
                    </td>
                    <td>@string.Join(", ", item.Colors.Select(p => p.ColorCode))</td>
                    <td><a href="/dashboard/product/detail/@item.ProductId">Chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>    
</div>
@section script{
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
        });
    </script>
}