@model Invoice
<div class="d-flex">
    <hr class="w-25 my-4 mx-auto" />
</div>
<div class="container">
    <h4>Thông tin đơn đặt hàng:</h4>
    <table class="table table-bordered my-4">
        <thead>
            <tr>
                <th>Người nhận hàng: </th>
                <td>@Model.Contact.FullName</td>
            </tr>
            <tr>
                <th>Số điện thoại: </th>
                <td>@Model.Contact.PhoneNumber</td>
            </tr>
            <tr>
                <th>Địa chỉ: </th>
                <td>@(Model.Contact.AddressHome +", " + Model.Contact.WardName+ ", " + Model.Contact.DistrictName+ ", " + Model.Contact.ProvinceName)</td>
            </tr>
            <tr>
                <th>Tình trạng đơn hàng: </th>
                <td>
                    @((InvoiceStatus)Model.StatusId)
                </td>
            </tr>
        </thead>
    </table>
    <partial name="_InvoiceDetail" model="@Model" />
</div>