@model IEnumerable<Invoice>

<div>List Invoice</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Tài khoản mua hàng</th>
            <th>Tên người nhận hàng</th>
            <th>Số điện thoại nhận hàng</th>
            <th>Địa chỉ giao hàng</th>
            <th>Tình trạng đơn hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Invoice item in Model)
        {
            <tr>
                <td>@item.InvoiceId</td>
                <td>@item.Member.Username</td>                
                <td>@item.Contact.FullName</td>
                <td>@item.Contact.PhoneNumber</td>
                <td>@(item.Contact.AddressHome + ", " + item.Contact.WardName + ", " + item.Contact.DistrictName + ", " + item.Contact.ProvinceName)</td>
                <td>@((InvoiceStatus)item.StatusId)</td>
                <td><a href="/invoice/detail/@item.InvoiceId">Xem chi tiết</a></td>
            </tr>
        }
    </tbody>
</table>