@model Member

<div>
    <div>
        Tên tài khoản: @Model.Username
    </div>
    <div>
        Giới tính: @(Model.Gender ==  false ? "Nữ" : "Nam")
    </div>
    <div>
        Địa chỉ email: @Model.Email
    </div>
    <div>
        Ngày gia nhập: @Model.JoinDate.ToLongDateString()
    </div>
    <div>
        Thông tin liên hệ: @(Model.Contacts.Count<Contact>() == 0 ? "Bạn chưa có thông tin liên hệ nào" : Html.Raw("<div><table class='table table-bordered'><thead><tr><th>Tên đầy đủ</th><th>Số điện thoại</th><th>Địa chỉ</th><th>Là địa chỉ mặc định?</th><th>Chỉnh sửa</th><th>Xóa</th></tr></thead><tbody id='contactList'></tbody></table></div>"))
    </div>
    <div>
        <a href="/contact/add">Thêm thông tin liên hệ</a>
    </div>
</div>
@section script{
    <script>
        if ($(contactList) != null) {
            var contactListElement = $(contactList);
            var memberId = "@Model.MemberId";          
            $.post("/contact/GetContactsByMember", {'memberId':memberId}, data => {               
                for (var i in data) {
                    var innnerHtml = `<tr id='${data[i].contactId}'>
                    <td>${data[i].fullName}</td>
                    <td>${data[i].phoneNumber}</td>
                    <td class='address'>${data[i].addressHome
        }, ${data[i].wardName}, ${data[i].districtName}, ${data[i].provinceName}</td>`;
                    if (data[i].contactId == @Model.DefaultContact) {
                        innnerHtml += `<td><input type="checkbox" class="defaultAddress" value="${data[i].contactId}"checked  /></td>`;
                    } else {
                        innnerHtml += `<td><input type="checkbox" class="defaultAddress" value="${data[i].contactId}" /></td>`;
                    }
                    innnerHtml += `<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal${data[i].contactId}">Edit</button>
                  <div class="modal" id="editModal${data[i].contactId}">
                <div class="modal-dialog">
        <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa thông tin liên hệ</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <form  method="post" action="/contact/updatecontact">
                  <!-- Modal body -->
                  <div class="modal-body">
                   
                    <input type="hidden" name="ContactId" value="${data[i].contactId}">
                <div>
                    <label for="FullName">Tên đầy đủ: </label>
                    <input type="text" name="FullName" value="${data[i].fullName}"/>
                </div>
                <div>
                    <label for="PhoneNumber">Số điện thoại: </label>
                    <input type="text" name="PhoneNumber" value="${data[i].phoneNumber}"/>
                </div>
                <div>
                    <label for="AddressHome">Số nhà và tên đường: </label>
                    <textarea name="AddressHome">${data[i].addressHome}</textarea>
                </div>
                <div>
                    <select id="ProvinceId" name="ProvinceId">
                    </select>
                    <select id="DistrictId" name="DistrictId">
                    </select>
                    <select id="WardId" name="WardId">
                    </select>
                </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button class="btn btn-primary">Lưu thay đổi</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
            </td>`;
                    innnerHtml += `<td><a href='/contact/deletecontact/${data[i].contactId}'>Xóa</a></td>`;
                    innnerHtml += '</tr>';
                    contactListElement.append(innnerHtml);
                }
            });
        }
        
        $(document).on('show.bs.modal', '.modal', function () {           
            var targetRow = ($(this).attr('id')).replace('editModal','');            
            var selectedAddress = $(`#${targetRow}`).find('.address').text().split(','); 
            $.post('/contact/GetProvinces', provinces => {
                for (var i in provinces) {    
                    if (provinces[i].provinceName == selectedAddress[3].trim()) {
                        $(ProvinceId).append(`<option value="${provinces[i].provinceId}" selected>${provinces[i].provinceName}</option>`);
                    } else {
                        $(ProvinceId).append(`<option value="${provinces[i].provinceId}">${provinces[i].provinceName}</option>`);
                    }                    
                }
                var provinceId = $(ProvinceId).val();
                addDistricts(provinceId, selectedAddress);
            });
        })

        $(document).on('click', '.defaultAddress', function () {
            $('.defaultAddress').prop('checked', false);
            $(this).prop('checked', true);
            var contactId = $(this).attr('value');
            console.log(contactId);
            $.post('/contact/UpdateDefaultContact', { 'contactId': contactId }, (data) => {
                console.log(data);
                location.reload();
            });
        });
    </script>
}