@model Member
@{
    ViewBag.Title = "Đặt hàng";
}
<div class="d-flex">
    <hr class="w-25 mb-4 mx-auto" />
</div>
<div class="mb-4">
    <h4 class="text-center">Đặt hàng</h4>
</div>
<div class="container">
    @if (ViewBag.cart.CartDetail.Count > 0)
    {
        <partial name="_CartDetail" model="@ViewBag.cart" />
    }
    else
    {
        <script>
            window.location.href = "/product";
        </script>
    }
    <div class="mt-5">
        <h5 class="float-left">Chọn thông tin giao hàng: </h5>
        <div class="float-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addContactModal">Thêm thông tin liên hệ</button>
            <div class="addModal">
                <div class="modal" id="addContactModal">
                    <partial name="_ModelContact" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    @if (Model.DefaultContact is null)
    {
        <script>
            $(addContactModal).modal('show');
        </script>
    }

    <table class="table table-bordered my-3">
        <thead>
            <tr>
                <th></th>
                <th>Người liên hệ</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Contact item in Model.Contacts)
            {
                <tr>
                    <td><input type="radio" name="Contact" value="@item.ContactId" @(item.ContactId == Model.DefaultContact || Model.Contacts.ToList().Count == 1 ? "checked" : "") /></td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@(item.AddressHome + ", " + item.WardName + ", " +item.DistrictName + ", " + item.ProvinceName)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex">
        <form method="post" class="mx-auto" name="formCheckout">
            <input type="hidden" name="ContactId" value="@Model.DefaultContact" required />
            <input type="hidden" name="ShipCost" value="@(ViewBag.cart.Total>=500000 ? 0 : 50000)" />
            <button class="btn btn-primary" id="btnConfirmCheckout">Xác nhận đơn hàng</button>
        </form>
    </div>
</div>
@section script{
    <script>
        $(document).on('click', '#btnConfirmCheckout', function (e) {
            e.preventDefault();
            var contact = $('input[name="ContactId"]').val();
            console.log(contact);
            if (!contact) {
                alert("Bạn chưa nhập thông tin liên lạc!");
            } else {
                $('form[name = "formCheckout"]').submit();
            }
        });
    </script>
}

