@model IEnumerable<Cart>
@if (Model.ToList().Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Mã màu</th>
                <th>Size</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="ProductId" name="@item.ProductId">@item.ProductName</td>
                    <td class="ColorId" name="@item.ColorId">@item.ColorCode</td>
                    <td class="SizeId" name="@item.SizeId">@item.SizeCode</td>
                    <td><input type="number" name="Quantity" value="@item.Quantity" min="1" max="@item.AvailableQuantity" /></td>
                    <td><button class="DeleteCart">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Giỏ hàng đang trống</p>
    <p>Click vào <a href="/">đây</a> để tiếp tục mua sắm.</p>
}

@section script{
    <script>
        $('input[name="Quantity"]').change(function () {
            var listNode = $(this).parent().prevAll();
            var pid = $(listNode[2]).attr('name');
            
            var cid = $(listNode[1]).attr('name');
            var sid = $(listNode[0]).attr('name');
            var qty = $(this).val();            
            $.post('/cart/editcart', { 'ProductId': pid, 'ColorId': cid, 'SizeId': sid, 'Quantity': qty }, result => {
                location.reload();
            })
        });
        $('.DeleteCart').click(function () {
            if (confirm('Are you sure delete?')) {
                var listNode = $(this).parent().prevAll();
                var pid = $(listNode[3]).attr('name');
                var cid = $(listNode[2]).attr('name');
                var sid = $(listNode[1]).attr('name');
                console.log(pid);
                console.log(cid);
                console.log(sid);
                $.post('/cart/deletecart', { 'ProductId': pid, 'ColorId': cid, 'SizeId': sid }, result => {
                    location.reload();
                });
            }

        });
    </script>
}